@charset "UTF-8";

/*ここから先にCSSをかくのはNG*/
body{
 margin:10px;
 padding:10px;
 font-family: 'Arial',YuGothic,'Yu Gothic','ヒラギノ角ゴ ProN W3','メイリオ',                'Meiryo';
}


h1{
 text-align:center; 
 font-size:30px; color:#A9533C; 
 border-bottom:solid 5px #931E56;
 padding:10px;
}

h2{
 text-align:center;
 font-size:25px;
 margin: 0;
 padding:0;
}

h3{
 text-align:center;
 font-size:18px;
}

p{
 margin: 20px;
 padding:10px;
}

a{
  text-decoration: none;
}

a:hover{
  color:red;
  text-decoration: underline;
}

.caption{
  display:block;
  text-align: center;
  padding:0px 0;
  margin:0 0;
}

.author{
  margin-top: 0%;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 0px;
  padding-bottom: 30px;
  background-color:rgba(241,249,248,0.7)
}

#author_caption{
  width:70%;
  display:block;
  /* justify-content: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.motto{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color:rgba(205,215,234,0.6)
}

#motto{
  background-color: rgba(154, 119, 100, 0.8);
  border-radius: 10px;
  width:60%;
  display:block;
  /* justify-content: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top:0.5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}



/* 7-1-32 ボタンを虹色にする */
/* ボタン周辺のdivクラス */
.button{
  background:transparent;
  margin:0;
  padding:15px 0;
}
/* 日記のボタン */
.gradient_diary{
  /* ボタンの形状 */
  display:inline-block;
  padding:5px 30px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_diary:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* 星回り */
.gradient_star{
  /* ボタンの形状 */
  display:inline-block;
  padding:5px 30px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_star:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* コーディング */
.gradient_coding{
  /* ボタンの形状 */
  display:inline-block;
  padding:5px 30px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_coding:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* 本 */
.gradient_books{
  /* ボタンの形状 */
  display:inline-block;
  padding:5px 30px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_books:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}


/* お問い合わせホーム */
.gradient_form{
  /* ボタンの形状 */
  display:inline-block;
  padding:5px 30px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_form:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

#aqua{
  padding:0;
  margin:0;
  border:thick 5px aqua;
  border-radius:5px;
  border-color: aquamarine; 
  width:200px;
  height:auto
}

/* 
アクア様をハートに切り抜くコード。
.mask {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  padding:0;
  margin:0;
  border-width: thick;
  border-radius:5px;
  border-color: aquamarine;
  width:200px;
  height:auto;
}
.shape {
  height:0;
} 
*/
/* どこで使ったのか分からないcss */
/* #arthor{
 display:inline;
 text-align: center;
 color:#3EA6B1
 }

#arthor ul{
 list-style-type: none;
 text-align: center;
 }

#arthor ul li{
 display: inline-block;
 padding: 50px 50px;
 margin: 100px; 
 width:200px;
 border-radius:10px;
 background-color:#F0D4E1;
 text-align: center;
 vertical-align: middle;
 font-weight:bold;
 box-shadow:2px 2px 4px #C2A2B6,
 4px 4px 2px #F7F4E5 inset;
 
 } */

#deg ul{
 list-style-type:none;
 text-align: center;
}

#deg ul li{
 display: inline-block;
 padding: 50px;
 margin: 50px;
 width:20px;
 border-radius:0.75em;
 background-color:#F7F4E5;
 vertical-align: middle;
 color:#4863AD;
 font-weight:bold;
 box-shadow:2px 2px 4px #4863AD,
 2px 2px 3px #F0D4E1 inset;
}

/*ここから先、パンくずリスト*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}


.breadcrumb li a {
  text-decoration: none;
  color: gray;
}


.breadcrumb li:first-child a:before {
  /*家アイコン*/
  font-family: FontAwesome;
  content: '\f015';
  font-weight: normal;
  font-size: 1.1em;
  color: #2e7fea;
}

.breadcrumb li a:hover {
 /*マウスを近づけると、どうなるか・下線が現れる機能*/
  color:red;
  text-decoration: underline;
}



