#splash{
    /* fixedで全面に固定 */
    position:fixed;
    z-index:999;
    width:100%;
    height:105vh;
    background:rgba(64, 4, 3, 1);
    /* background-image: url(../logo2.jpg); */
    background-size: cover;
    text-align:center;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width:95%;
    height:90%;
    text-align: center;
}
/* Loadeing 画面中央配置 */
#splash_text{
    position:absolute;
    top:50%;
    left:50%;
    z-index:999;
    transform:translate(-50%, -50%);
    color:#fff;
    width:100%;
    margin: 0;
    padding: 500px;
}

#splash_text svg{
    height:10px;
}
/* 割れる画面のアニメーション？ */
.load_cover{
    width:100%;
    height:50%;
    background-color:#333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform:scaleY(1);
}

/* 上の画面 */
.loader_cover-up{
    transform-origin:center top;
}

/* 下の画面 */
.loader_cover-down{
    position:absolute;
    bottom:0;
    transform-origin:center bottom;
}

/* クラス名が付いたY軸方向に0* */
.coveranime{
    transform:scaleY(0);
}



/* スライドshow! */
.slider{
    width:100%;
    margin:0 auto;
    padding: 0;
}

.slider img{
    width:500px;
    height:500px;
    padding: 0px;
    margin:0px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.slider .slick-slide{
    transform: scale(0.8);
    transition: all .5s;
    opacity:0.5;
}

.slider .slick-slide.slick-center{
    /* 中央の画像サイズだけ等倍にする */
    transform: scale(1);
    opacity:0.8; /*透過ナシ*/
}


/* 矢印の設定 */
.slick-prev,
.slick-next{
    position:absolute;
    top:48%;

    /* マウスカーソルを指マークに */
    cursor:pointer;
    /* クリックしたら出てくる枠線を消す */
    outline: none;
    /* 矢印の色 */
    /* background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%); */
    border-top: 15px solid #582893;
    border-right:15px solid #582893;
    border-radius: 5px;
    height:80px;
    width:80px;
    z-index: 990;
}

.slick-prev{
    left:10%;
    transform: rotate(-135deg);
}

.slick-next{
    /* 次へ矢印の位置 */
    right:10%;
    transform: rotate(45deg);
}

.slick-prev:hover{
    border-color:rgba(251, 194, 235, 1);
}

.slick-next:hover{
    border-color:rgba(251, 194, 235, 1);
}

/* ドットナビゲーション設定 */
.slick_dots{
    text-align:center;
    margin:20px 0 0 0;
}

.slick_dots li{
    display: inline-block;
    margin:0 5px;
}

.slick-dots button{
    color:transparent;
    outline:none;
    width:8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button{
    background: #333;
}

.finish{
    display:inline-block;
    width:100vw;
    height:fit-content;
    background-color: #931E56;
    color:#EADBBB;
    font-size: 18px;
    padding-bottom: 50px;
}

.finish a{
    color:#EADBBB;
    outline:none;
    text-decoration: none;
}

.icon{
    display: block;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    border:1px solid #fa6c9f;
    border-radius: 40px;
    background:linear-gradient(25deg, rgba(255, 0, 0, 0.4), rgba(0, 255, 0, 0.4));
}

.icon:hover{
    background-color:rgba(255, 0, 0, 1);
}