@charset "UTF-8";

/*ここから先にCSSをかくのはNG*/
body{
  margin: 0;
  padding:0;
 font-family: 'Arial','Yu Gothic','ヒラギノ角ゴ ProN W3','メイリオ','Meiryo';
}


h1{
 text-align:center; 
 font-size:35px; color:#A9533C; 
 border-bottom:solid 5px #931E56;
 padding:5px;
}

h2{
 text-align:center;
 font-size:25px;
 margin: 0;
 padding:0;
}

h3{
 text-align:center;
}

#h3_design{
  margin:0;
  padding:0;
  font-size:40px;
}

p{
 margin: 20px;
 padding:10px;
}

a{
  text-decoration: none;
}

/* a:hover{
  color:red;
  text-decoration: underline;
} */


.caption{
  display:block;
  text-align: center;
  padding:0px 0;
  margin:0 0;
}

#caption_fontsize{
  display:block;
  text-align: center;
  padding:0px 0;
  margin:0 0;
}

.index{
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
  padding-top: 3%;
  padding-bottom:5%;
  background-image: linear-gradient(to top, rgba(251, 194, 235, 0.5) 0%, rgba(166, 193, 238, 0.5) 100%);
  border-radius: 10px;
}

.author{
  margin-top: 0%;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom:10px;
  background-color:rgba(241,249,248,0.7)
}

#author_caption{
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.motto{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 3%;
  padding-bottom: 5px;
  /* background-color:rgba(205,215,234,0.6) */
  background-image: linear-gradient(-225deg, rgba(105, 234, 203, 0.4) 0%, rgba(234, 204, 248, 0.4) 48%, rgba(102, 84, 241, 0.4) 100%);
}

#motto_adler{
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  border-radius: 10px;
  /* width:60%; */
  display:block;
  /* justify-content: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top:0.5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

#motto_aqua{
  background: linear-gradient(-225deg, rgba(105, 234, 204, 0.5) 0%, rgba(234, 204, 248, 0.5) 48%, rgba(102, 84, 241, 0.5) 100%), url(stars/pics/watch.png);
  border: solid 10px rgba(216,215,223,0.7);
  color:aliceblue;
  font-weight: 900;
  border-radius: 10px;
  /* width:60%; */
  display:block;
  /* justify-content: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top:0.5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}


#text_aqua{
  /* background: linear-gradient(-225deg, rgba(105, 234, 204, 0.2) 0%, rgba(234, 204, 248, 0.2) 48%, rgba(102, 84, 241, 0.2) 100%); */
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to top, rgba(48,207,208,0.5) 0%, rgba(51,8,103,0.5) 100%);
  border-radius: 30px;
  text-align: center;
}


#pics_aqua{
  padding:0;
  margin:0;
  border:thick 5px aqua;
  border-radius:5px;
  border-color: aquamarine; 
  width:200px;
  height:auto
}

/* 7-1-32 ボタンを虹色にする */
/* ボタン周辺のdivクラス */
.button{
  background:transparent;
  padding:15px 0;
  text-align: center;

}

.button2{
  background:transparent;
  padding:15px 0;
  text-align: center;
}

/* 日記のボタン */
.gradient_diary{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #6c9bd2;
  color:#fef4f4;
  outline:none;
  background-image: linear-gradient(to top, #30cfd0 0%, #582893 100%);

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_diary:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #b7282d 0%, #e94709 50%, #c82b55 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* 星回り */
.gradient_star{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fbd8b5;
  color:#932e44;
  background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8);
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_star:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #932e44 0%, #ea5548 50%, #e9474d 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* コーディング */
.gradient_coding{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  background: radial-gradient(#F13F79, #FFC778);
  border:1px solid #fa6c9f;
  color:#FFF;
  outline:none;
  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_coding:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* 本 */
.gradient_books{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  background:linear-gradient(25deg, rgba(255, 0, 0, 0.4), rgba(0, 255, 0, 0.4)) ,url(books.jfif);
  color:#fdeadf;
  outline:none;
  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_books:hover{
  border-color: transparent;
  color:#932e44;
  background-image: linear-gradient(270deg, #fbc2eb 0%, #ffe140 50%, #a6c1ee 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}


/* お問い合わせホーム */
.gradient_form{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fa6c9f;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  outline:none;

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_form:hover{
  border-color: transparent;
  color:#fff;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}

/* 写真ホーム */
.gradient_pics{
  /* ボタンの形状 */
  display:inline-block;
  padding:30px 60px;
  border-radius:20px;
  text-decoration:none;
  border:1px solid #fa6c9f;
  color:#fff;
  outline:none;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

  /* アニメーションの設定 */
  transition:all 0.4s ease-out;
}

.gradient_pics:hover{
  border-color: transparent;
  color:#fff;
  /* background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%); */
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  background-size:200% auto;
  background-position:right center;

  /* ボックスの影 */
  box-shadow: 0 5px 10px rgba(250, 108, 159, 0.4);
  text-decoration: none;
}



/* 
アクア様をハートに切り抜くコード。
.mask {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  padding:0;
  margin:0;
  border-width: thick;
  border-radius:5px;
  border-color: aquamarine;
  width:200px;
  height:auto;
}
.shape {
  height:0;
} 
*/
/* どこで使ったのか分からないcss */
#arthor{
 display:inline;
 text-align: center;
 color:#3EA6B1
 }

#arthor ul{
 list-style-type: none;
 text-align: center;
 }

#arthor ul li{
 display: inline-block;
 padding: 50px 50px;
 margin: 100px; 
 width:200px;
 border-radius:10px;
 background-color:#F0D4E1;
 text-align: center;
 vertical-align: middle;
 font-weight:bold;
 box-shadow:2px 2px 4px #C2A2B6,
 4px 4px 2px #F7F4E5 inset;

 }

#deg ul{
 list-style-type:none;
 text-align: center;
}

#deg ul li{
 display: inline-block;
 padding: 50px;
 margin: 50px;
 width:20px;
 border-radius:0.75em;
 background-color:#F7F4E5;
 vertical-align: middle;
 color:#4863AD;
 font-weight:bold;
 box-shadow:2px 2px 4px #4863AD,
 2px 2px 3px #F0D4E1 inset;
}

/*ここから先、パンくずリスト*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}


.breadcrumb li a {
  text-decoration: none;
  color: gray;
}


.breadcrumb li:first-child a:before {
  /*家アイコン*/
  font-family: FontAwesome;
  content: '\f015';
  font-weight: normal;
  font-size: 1.1em;
  color: #2e7fea;
}

.breadcrumb li a:hover {
 /*マウスを近づけると、どうなるか・下線が現れる機能*/
  color:red;
  text-decoration: underline;
}



