
.btnripple1{
    position:relative;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.btnripple1:hover::before{
    content:'';
    /* 絶対配置で波形の位置を決める */
    position: absolute;
    left:20%;
    top:5%;
    border:1px solid #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    opacity: 1;
    animation:1s circleanime forwards;
}

@keyframes circleanime{
    0%{transform:scale(0);}
    100%{transform: scale(5);opacity:0;}
}

/* .btnripple::after{
    content:'';
    position: absolute;
    top:30%;
    right:-20px;
    width:5px;
    height:5px;
    /* border-top:1px solid #000;
    border-right:1px solid #000;
    transform: rotate(45deg); */
/* }  */

.btnripple1::after{
    content:'';
    opacity: 1;
    animation:1s circleanime forwards;
}

.btnripple {
    position: relative;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.btnripple:hover::before {
    content: '';
    /* 絶対配置で波形の位置を決める */
    position: absolute;
    left: -3%;
    top: 10%;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 1;
    animation: 1s circleanime2 forwards;
}

@keyframes circleanime2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.btnripple::after {
    content: '';
    opacity: 1;
    animation: 1s circleanime forwards;
}




ul.attributes{
    display:flex;
    justify-content: center;
    padding:0 0;
    text-align: center;
    /* background-color: aliceblue; */
    list-style: none;
}

ul.attributes li{
    display:inline-block;
    margin:0 5px;
}

ul.attributes li a{
    display:inline-block;
    width:180px;
}

/*== ボタン共通設定 */
.btn02{
    /*背景の基点とするためrelativeを指定*/
    position:relative;
    /*ボタンの形状*/
    display: inline-block;
    width:100%;
    max-width: 500px;
    height: 180px;
    line-height: 50px;
    /* text-align: center; */
    outline: none;
}

/* ボタンを設置 */
/*ボタン内側の設定*/
.btn02 span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    border-radius: 50%;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;
    padding:0 0;
    margin:0 0;
}

.btn02 span p{
    padding:0 0;
    margin:30% 5%;
}


/*== くるっと回転（手前に） */

/* 回転前 */
.rotatefront span:nth-child(1) {
    background: #fff;
    color: #000;
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotatefront:hover span:nth-child(1) {
    transform: rotateX(-90deg);/* X軸に-90度回転 */
}

/* 回転後 */
.rotatefront span:nth-child(2) {
    background: #000;
    color: #fff;
    transform: rotateX(90deg);/*はじめはX軸に90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotatefront:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}