/* ローディング画面のためのcss */

#splash{
    /* fixedで全面に固定 */
    position:fixed;
    z-index:999;
    width:100%;
    height:100vh;
    background:rgba(64, 4, 3, 1);
    /* background-image: url(../logo2.jpg); */
    /* background-size: cover; */
    text-align:center;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width:95%;
    height:90%;
    text-align: center;
}
/* Loadeing 画面中央配置 */
#splash_text{
    position:absolute;
    top:50%;
    left:50%;
    z-index:999;
    transform:translate(-50%, -50%);
    color:#fff;
    width:100%;
    margin: 0;
    padding: 500px;
}

#splash_text svg{
    height:10px;
}
/* 割れる画面のアニメーション？ */
.load_cover{
    width:100%;
    height:50%;
    background-color:#333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform:scaleY(1);
}

/* 上の画面 */
.loader_cover-up{
    transform-origin:center top;
}

/* 下の画面 */
.loader_cover-down{
    position:absolute;
    bottom:0;
    transform-origin:center bottom;
}

/* クラス名が付いたY軸方向に0* */
.coveranime{
    transform:scaleY(0);
}


/* ここから6.2.6章 */
.gallery{
    display:inline;
    vertical-align: middle;
}

.gallery li{
    padding-top:0px;
    padding-bottom:0px;
    list-style:none;
    text-align: center;
    margin:0;
    vertical-align: middle;
}


.gallery_imgs{
    margin-top: 0.5%;
}

.gallery_imgs p{
    margin-top: 0.05%;
}

.gallery_imgs img{
    width:20%;
    height:180px;
}

/* 使用する写真に癖をつける */
img{
    /* 画面ごとに画像のサイズを変えたいので、ここは変更しておく */
    /* width:100%; */
    /* height:auto; */
    vertical-align:bottom;
    margin-bottom:5px;
    /* margin-right: auto;
    margin-left: auto; */
    /* 画像の下にできる余白を削除 */
}

/* モーダルライブラリのcss */
.hide-area{
    display:none;
}

/* フル画面の色指定 */
.modaal-fullscreen .modaal-content-container{
    background:rgba(139, 46, 83, 0.7);
    /* color:#EADBBB; */
    text-align:center;
    width: 100%;
    height: 100vh;
}

.modaal-fullscreen .modaal-close{
    background:none;
    right:20px;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
    background: #666;
}


/* 画像の横幅を100%にしてレスポンシブ化 */
/* .modaal-content-container img{
    border: 5px solid #fff;
    width:100%;
	max-width:700px;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
/* }   */

/* キャプション */
.caption{
    display:block;
    padding:0px 0;
    margin:0 0;
    font-size: small;
}

.modaal-video .modaal-inner-wrapper{
    padding:0;
    background-color:rgba(139, 46, 83, 0.7);
}

.character{
    display: block;
    text-align: center;
    width:80%;
    height:auto;
    padding:20px 0px;
    margin:10px 10px;
    background-color: aliceblue;

}

/* スライドshow! */
.slide_show{
    width:80%;
    margin:0 auto;
}

.slide_show img{
    width:500px;
    height:450px;
    padding: 0px;
    margin:0px;
    border-radius: 50px;

}

.slide_show .slick-slide{
    transform: scale(0.8);
    transition: all .5s;
    opacity:0.5;
}

.slide_show .slick-slide.slick-center{
    /* 中央の画像サイズだけ等倍にする */
    transform: scale(1);
    opacity:0.8; /*透過ナシ*/
}


/* 矢印の設定 */
.slick-prev,
.slick-next{
    position:absolute;
    top:42%;

    /* マウスカーソルを指マークに */
    cursor:pointer;
    /* クリックしたら出てくる枠線を消す */
    outline: none;
    /* 矢印の色 */
    border-top: 15px solid #582893;
    border-right:15px solid #582893;
    border-radius: 5px;
    height:40px;
    width:40px;
}

.slick-prev{
    left:-1%;
    transform: rotate(-135deg);
}

.slick-next{
    /* 次へ矢印の位置 */
    right:-4.5%;
    transform: rotate(45deg);
}

.slick-prev:hover{
    border-color:rgba(251, 194, 235, 1);
}

.slick-next:hover{
    border-color:rgba(251, 194, 235, 1);
}

/* ドットナビゲーション設定 */
.slick_dots{
    text-align:center;
    margin:20px 0 0 0;
}

.slick_dots li{
    display: inline-block;
    margin:0 5px;
}

.slick-dots button{
    color:transparent;
    outline:none;
    width:8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button{
    background: #333;
}

.slideshow_bg{
    padding-top: 30px;
    padding-bottom: 10px;
    background: linear-gradient(to top, #30cfd0 0%, #582893 100%);
}



/* スライドshow! 流すだけversion */
.slide_show2 img{
    width:auto;
    height:300px;
}

.slide_show2 .slick-slide{
    margin:0 10px;
}

/* スライドshow! 対比させて見せる方法 */
.slide_show3{
    position:relative;
    height:70vh;
    background: linear-gradient(to top, #30cfd0 0%, #582893 100%);
    padding-top: 0.05%;
    padding-bottom:0.05%;
}

.slider-item01{
    background: url(pics/good.gif);
}

.slider-item02{
    background: url(pics/リラックマ.webp);
}

.slider-item03{
    background: url(pics/love.gif);
}

.slider-item04{
    background: url(pics/love3.gif);
}


.slider-item05{
    background: url(pics/あんずまろん.jpg);
}

.slider-item06{
    background: url(pics/love2.gif);
}

.slider-item{
    width:100%; /* 各スライダーの横幅を画面高さいっぱいに表示する */
    height: 32.3vh;
    background-repeat:no-repeat; /*背景画像をリピートしない*/
    background-position: center; /*背景画像の位置を中央に*/
    background-size: 30%; /*背景画像が.slider-item全体を覆う表示*/
}


/* スライドショー4 */
.slide_show4{
    position: relative; /*スライドショーの位置を起点とする*/
    z-index:1;
    height:400px;
    background: linear-gradient(to top, #30cfd0 0%, #582893 100%);
    padding-top:30px;
    padding-bottom:0px;
    margin-top:5px;
    margin-bottom:50px;
}

.slider4-item01{
    background:url(pics/love2.gif);
}

.slider4-item02{
    background:url(pics/love.gif);
}

.slider4-item03{
    background:url(pics/love3.gif);
}

.slider4-item{
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

.slick-prev4,
.slick-next4{
    position:absolute;
    z-index: 3;
    top:42%;

    /* マウスカーソルを指マークに */
    cursor:pointer;
    /* クリックしたら出てくる枠線を消す */
    outline: none;
    /* 矢印の色 */
    border-top: 10px solid #582893;
    border-right:10px solid #582893;
    height:30px;
    width:30px;
}

.slick-prev4{
    left:30%;
    transform: rotate(-135deg);
}

.slick-prev4:hover{
    border-top: 10px solid red;
    border-right:10px solid red;
}

.slick-next4{
    right: 27.5%;
    transform: rotate(45deg);
}

.slick-next4:hover{
    border-top: 10px solid red;
    border-right:10px solid red;
}

/* スライドショー5 */
.slide_show5{
    position: relative; /*スライドショーの位置を起点とする*/
    z-index:1;
    height:400px;
    background: linear-gradient(to top, #30cfd0 0%, #582893 100%);
    padding-top:30px;
    padding-bottom:0px;
    margin-top:5px;
    margin-bottom:50px;
    margin-left: 0px;
    padding-left: 0px;
}

.slider5-item01{
    background:url(pics/love2.gif);
}

.slider5-item02{
    background:url(pics/love.gif);
}

.slider5-item03{
    background:url(pics/love3.gif);
}

.slider5-item{
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

.slick-prev5,
.slick-next5{
    position:absolute;
    z-index: 3;
    top:42%;

    /* マウスカーソルを指マークに */
    cursor:pointer;
    /* クリックしたら出てくる枠線を消す */
    outline: none;
    /* 矢印の色 */
    border-top: 10px solid #582893;
    border-right:10px solid #582893;
    height:30px;
    width:30px;
}

.slick-prev5{
    left:30%;
    transform: rotate(-135deg);
}

.slick-prev5:hover{
    border-top: 10px solid red;
    border-right:10px solid red;
}

.slick-next5{
    right: 27.5%;
    transform: rotate(45deg);
}

.slick-next5:hover{
    border-top: 10px solid red;
    border-right:10px solid red;
}

/* ここから6.1.3章 */

#slider{
    width:100%;
    /* スライダー全体の縦横を画面の高さいっぱい(100vh)にする */
    height:120vh;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right:0;
    /* margin-bottom:0px; */
    padding-bottom:0px;
}

/*スライダー6*/
#slider6{
    width: 100%;
    height:100vh;
}


/*スライダー7*/
#slider7{
    width: 100%;
    height:100vh;
    margin-bottom: 10vh;
}

.finish{
    display:inline-block;
    width:100vw;
    height:20vh;
    background: #931E56;
    color:#EADBBB;
    font-size: 18px;
    padding-bottom: 50px;
}

.finish a{
    color:#EADBBB;
    outline:none;
    text-decoration: none;
}


/* ここから6.2.3章 */
/* チェックマークボタン？ */
/* .sort-btn{
    background:#f3f3f3;
    padding: 20px;
    margin:50px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.sort-btn dt{
    font-weight:bold;
    margin:0 0 10px 0;
}

.sort-btn ul{
    display:flex;
    flex-wrap:wrap;
}

.sort-btn li{
    margin:0 10px;
    list-style: none;
}

.sort-btn ul li{
    position:relative;
    cursor:pointer;
    padding:0 0 0 30px;
    margin:0 10px 0 0;
}

/* 横軸が810px以下になった際の指定..?タブレットとか？ */
/* @media only screen and (max-width:810px){
    .sort-btn li{
        width:100px;
        margin:0;
    }

    .sort-btn ul li{
        width:auto;
    }
} */

/* チェックマークの指定 */
/* .sort-btn ul li::before{
    content:'';
    position:absolute;
    left:0;
    width:20px;
    height:20px;
    border:2px solid #ccc;
} */


