h1{
    text-align:center; 
    font-size:35px; color:hsl(331, 66%, 35%); 
    border-bottom:solid 5px hsl(331, 66%, 35%);
    padding-top:20px;
    margin-top: 0;
}

.h2-title{
    text-align:left;
    font-size:25px;
    border-bottom:solid 3px #931E56;
    margin-right:19%;
    margin-left:0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:30px;
    padding-top:0;
    padding-bottom: 0;
    padding-right: 0;
}

.h3-title{
    text-align:left;
    font-size:20px;
    border-bottom:solid 3px #931E56;
    margin-right:19%;
    margin-left:0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:30px;
    padding-top:0;
    padding-bottom: 0;
    padding-right: 0;
}

.mainblock{
    display: block;
    background-color:rgba(237, 187, 207, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    padding-top:20px;
    margin-bottom:20px;
}

.subblock{
    display: block;
    /* text-align: center; */
    width:80%;
    height:auto;
    padding:20px 0px;
    margin:10px 10px;
    background-color: rgba(237, 187, 207, 0.8);
    border-radius: 5px;
}

/*目次*/
.aspect{
	position:fixed;
	right:10px;
	top:150px;
	
	margin:5px;
	padding:5px;

	width:15%;
	background-color:rgba(125, 91, 131, 0.7);
	text-align:center;
    font-weight: bold;/*文字を太字に*/
}

