/* ローディング画面のためのcss */

#splash {
    /* fixedで全面に固定 */
    position:fixed;
    z-index:999;
    width:100%;
    height:100%;
    background:#333;
    text-align:center;
    color:#fff;
}

/* Loadeing 画面中央配置 */
#splash_text {
    position:absolute;
    top:50%;
    left:50%;
    z-index:999;
    transform:translate(-50%, -50%);
    color:#fff;
    width:100%;
}

/* 割れる画面のアニメーション？ */
.load_cover{
    width:100%;
    height:50%;
    background-color:#333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform:scaleY(1);
}

/* 上の画面 */
.loader_cover-up{
    transform-origin:center top;
}

/* 下の画面 */
.loader_cover-down {
    position:absolute;
    bottom:0;
    transform-origin:center bottom;
}

/* クラス名が付いたY軸方向に0* */
.coveranime{
    transform:scaleY(0);
}